.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.content
{
  background-image: url('https://cdn-dhioc.nitrocdn.com/NjwAUSfwSCOTasUPzdkyxKRsPIOEePQl/assets/images/optimized/rev-8bcd2d1/wp-content/themes/reable/assets/images/shape1.png');
  background-size: cover;
  
  background-position: center;
  width:100%;
 height:200px;
 
}
.points{
  padding:30px;
}
.head{
  padding-left:450px;
  padding-bottom: 20px;
}
.content h1 {
  padding-top:20px;
  padding-left:450px;
  font-size: 40px;
  font-weight: 400;
font-family: roboto;
}
.content p{
  width:90vw;
  padding-left:90px;

}
.menu .menuTitle {
  font-family: "roboto sans";
  font-size: 45px;
  font-weight: bold;
  color:#FD9B41;
}

.menuList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.menuItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.menuItem p {
  margin-left: 20px;
 font-size: 24px;
 font-weight: 400;
 font-family: 'Poppins';
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}
