.BannerTop {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Monoplegia {
    width: 100%;
   
}  

.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .modal-content {
   background: white;
   width: 65%;
   height:550px;
   padding: 20px;
   border-radius: 8px;
   position: relative;
   align-items: center;
 }
 
 .close-button {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   cursor: pointer;
 }



.Input_Area{
   background-image: url('https://unsplash.com/photos/a-bunch-of-pink-donuts-are-stacked-on-top-of-each-other-obyYZVKwCNI'); /* Replace 'your-image.jpg' with your actual image path */
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
 .Input_Area h2 {
    font-weight: bold;
    font-size: 45px;
    color: #00345f;
    font-family: sans-serif;
    padding: 25px;
 
   display:flex;
    justify-content: center;
   
  }
  .Input_Area label {
   padding-bottom: 10px;
   color: #00345f;
   font-family: poppins;
   font-size: 18px;
   font-weight: 600;
   height:58px;
}
.Input_Area input {
   width: 100%;
   border-radius: 4px;
   border: 0.6px solid #00345f;
   height:30px;
}

  .Input_Area h3{
   color:#00345f;
   font-size:24px;
   font-weight: bold;
  }

 .Input_Area input{
    width:100%;
 }
 .Input_Area td{
    padding:15px;
 }
 .Input_Area button{
    padding:10px;
    background-color: #00345f;
    border-color: #00345f;
    border-radius: 6px;
    color: white;
    padding-left:15px;
    padding-right:15px
    

 }
 .Input_Area label{
    padding-bottom: 15px;
    
 }